.cont-img-card{
    position: relative;
}

.cont-img-card h1{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 25%);
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0),black);
}

.devider{
    font-family: monospace;
    height: 100%;
    display: flex;
    place-content: center;
    align-items: center;
}

/* Foto allenatori */
.allenatore{
    outline: 2px solid var(--secondary-respira);
    outline-offset: 1px;
    width: 100%;
    border-radius: 50vw;
    background-color: var(--primary-respira);
}

/* Footer */
.socials{
    display: flex;
    place-content: space-between;
}

.socials img{
    width: 25%;
    filter: grayscale(1);
    transition:  800ms;

}

.socials img:hover{
    filter: grayscale(0);
    transition:  800ms;
}

.line{
    display: flex;
    align-items: center;
}

.line hr{
    min-width: 100%;
}

@media only screen and (min-width: 992px) {
    .socials{
        padding: 0px 4rem;        
    }
    .socials img{
        width: 20%;
    }    
}