/* Oggetti con slide in (default per tutti gli schermi) */
.myObsR {
    transform: translate(-75%);
    opacity: 0;
}

.myObsL {
    transform: translate(75%);
    opacity: 0;
}

.myObsB {
    transform: translate(0%, 75%);
    opacity: 0;
}

/* Quando lo schermo è >= 768px, le classi con prefisso md- hanno la precedenza */
@media only screen and (min-width: 768px) {

    .md-myObsR {
        transform: translate(-75%);
        opacity: 0;
    }

    .md-myObsL {
        transform: translate(75%);
        opacity: 0;
    }

    .md-myObsB {
        transform: translate(0%, 75%);
        opacity: 0;
    }
}

/* Animazione di fade-in */
.fade-in {
    transition: 1s;
    transform: translate(0%);
    opacity: 1;
}
